---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import qrCode from "../imgs/qrCode.png";
---

<Layout title='Qr Code Component'>
  <main>
    <Image class='image' src={qrCode} alt='qr-code image' />
    <h3>Improve your front-end skills by building this project</h3>
    <p>
      Scan the qr code to visit Frontend Mentor and take your coding skills to
      the next level
    </p>
  </main>
</Layout>

<style>
  main {
    margin: 150px auto;
    padding: 1rem;
    max-width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--white__clr);
    border-radius: var(--border-rounded);
  }
  .image {
    width: 300px;
    height: auto;
    border-radius: var(--border-rounded);
  }
  h3 {
    margin-block: 1rem;
    line-height: 1.2;
    width: 240px;
    color: var(--dark-blue__clr);
  }
  p {
    font-size: var(--fs-body--paragraph);
    color: var(--grayish-blue__clr);
    line-height: 1.3;
    width: 225px;
    padding-bottom: 1em;
  }
</style>
