---
import Layout from "../layouts/Layout.astro";
import "../../public/image-qr-code.png";
---

<Layout title='Qr Code Component'>
  <main>
    <img src='../../public/image-qr-code.png' alt='' />
    <h3>Improve your front-end skills by building this project</h3>
    <p>
      Scan the qr code to visit Frontend Mentor and take your coding skills to
      the next level
    </p>
  </main>
</Layout>

<style>
  main {
    margin: 100px auto;
    padding: 1rem;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--white__clr);
    border-radius: var(--border-rounded);
  }
  img {
    width: 300px;
    border-radius: var(--border-rounded);
  }
  h3 {
    margin-block: 0.7rem;
    line-height: 1.2;
    word-wrap: balance;
    color: var(--dark-blue__clr);
  }
  p {
    font-size: var(--fs-body--paragraph);
    color: var(--grayish-blue__clr);
    line-height: 1.3;
    width: 250px;
  }
</style>
