---
import "../styles/global.css";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
  :root {
    --desktop-width: 1440px;
    --mobile-width: 375px;
    --white__clr: hsl(0, 0%, 100%);
    --light-gray__clr: hsl(212, 45%, 89%);
    --grayish-blue__clr: hsl(220, 15%, 55%);
    --dark-blue__clr: hsl(218, 44%, 22%);
    --fs-body--paragraph: 15px;
    --ff-outfit: "Outfit", sans-serif;
    --font-weight-400: 400;
    --font-weight-700: 700;
    --border-rounded: 15px;
  }
  html {
    font-family: var(--ff-outfit);
    background: var(--light-gray__clr);
    background-size: 224px;
  }
</style>
